
*.xcuserstate

*.xcworkspacedata

*.xcuserstate

*.xcscheme

NetworkApi/NetworkApi.xcodeproj/xcuserdata/karthik.xcuserdatad/xcschemes/xcschememanagement.plist

NetworkApi/NetworkApi.xcodeproj/project.xcworkspace/xcuserdata/karthik.xcuserdatad/UserInterfaceState.xcuserstate

NetworkApi/NetworkApi.xcodeproj/project.xcworkspace/contents.xcworkspacedata

*.xcuserstate

NetworkApi/NetworkApi.xcodeproj/project.xcworkspace/xcuserdata/karthik.xcuserdatad/UserInterfaceState.xcuserstate
